<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Trips</title>
</head>

<body>

  <h1>Welcome: <%= user.user_name %></h1>

  <h3>Plan Your Trip:</h3>
  <form action="/trips" method="post">
    <input type="text" name="title" placeholder="Trip Title">
    <input type="text" name="trip_description" placeholder="Trip Description">
    <select name="flight_id">
    <% for (let i = 0; i < flights.length; i++) { %>
    <option value="<%=flights[i].id%>"><%= flights[i].start %> - <%= flights[i].destination %></option>
    <% } %>
    </select>
    <input type="submit">
  </form>

  <h3>My Upcoming Trips:</h3>
  <div>
    <% for (let j = 0; j < trip.length; j++) { %>
    <p>Trip title:  <%=trip[j].title%></p>
      <p>Trip description: <%=trip[j].trip_description%></p>
       <% } %>

  </div>
</body>

</html>
